<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:svg="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge"/>
    <title>Aula diabetes de Lilly</title>

    <!-- Setting the right viewport -->
    <meta name="keywords" content="Formación diabetes, profesionales sanitarios, diabetes atención primaria, diabetes endocrino, diabetes enfermería, diabetes urgencias, calendario congresos diabetes, herramientas clínicas diabetes" />
    <meta name="description" content="Portal de formación en diabetes para profesionales sanitarios (atención primaria, endocrino, enfermería, urgencias), calendario de congresos y herramientas clínicas para el tratamiento del paciente diabético" />
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <meta name="robots" content="noarchive" />
    <meta name="googlebot" content="noarchive" />
    <meta name="robots" content="nocache" />
	<link rel="stylesheet" type="text/css" href="styles/font-awesome.css" />
	<link rel="icon" type="image/png" href="img/ux/favicon.png" />
    <link rel="stylesheet" href="css/master.css">
    <link rel="stylesheet" type="text/css" href="css/estils.css" />
    <link rel="stylesheet" href="styles/custom-janrain.css" type="text/css">
    <link rel="stylesheet" href="styles/jquery-ui.css" type="text/css">
    <!-- <link rel="stylesheet" type="text/css" href="styles/styles.css" /> -->
    <script src="vendor/jquery-2.2.4.min.js"></script>
    <!-- <script language="javascript" src="scripts/javas.js"></script> -->
    <script language="javascript" src="scripts/slider.class.js"></script>
    
    <script src="vendor/janrain-init.js"></script>
    <script src="https://eucookie.xh1.lilly.com/Scripts/EUCookiesScript.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="vendor/jquery-ui.js"></script>

    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','{{gtmContainerId}}');</script>

</head>
<body>
    <!-- Cookie Banner Added -->
    <script>
        cookiesDirective(407,'DK');
        $('body').click(function(){
            $('#epd').hide();
        });
        var tid = setTimeout(myCode, 2000);
        function myCode() {
            if ($('#cookiesdirective').length) {
                var href = $("#cookiesdirective a").attr("href");
                $("#cookiesdirective a").attr("target", "_blank")
            } else {
                tid = setTimeout(myCode, 2000); // repeat myself
            }
        }
    </script>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{gtmContainerId}}"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
      
    <div id="app">Loading...</div>
    <script src="js/bundle.js"></script>
</body>
</html>
