/*** MODULE 01 STARTS ***/
#epd{
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 0;	
}
@media screen and (max-width: 1237px) and (min-width: 1201px) {
	.summary .chart-content{
	top:78px;
	padding: 0 26px;
	}
}
#video .video-script-container{
	background:none;
}

/*** MODULE 01 ENDS ***/

/*** MODULE 02 STARTS ***/

/*OLUSD-192*/
.hotspot.active .hotspot-circle{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}



/*OLUSD-OLUSD-161*/
@media all and (min-width: 1024px) and (max-width: 1059px) { 
.hotspot.active .hotspot-circle{top: 4px;}

}
@media all and (min-width: 1060px) and (max-width: 1200px) { 
.hotspot.active .hotspot-circle{top: 10px;left:4px;}

}

/*OLUSD-157*/
@media all and (min-width: 768px) and (max-width: 1200px) { 
.head-to-head-dialog{width:91%;max-width: 984px;}
.my-modal .my-modal-dialog{margin-top:45px;}
}

@media all and (min-width: 1025px) and (max-width: 1200px) { 
.head-to-head-dialog .desc{width: 281px;}
}


/*OLUSD-194*/

@media all and (min-width : 992px) and (max-width: 1024px) {
.summary .chart-content{padding:0 15px;}
.summary .summary-list-item{padding:22px;padding-bottom:32px;margin-bottom:18px;}
.summary-list .summary-list-item p{margin-bottom:24px;}
    }

/*OLUSD-170*/
@media all and (min-width : 2500px){
.summary .chart-content{width: 34%;top: 126px;}
.summary .summary-list-item{width: calc(40.333% - 20px);}
.summary .chart-content{padding-left:19px;}
.once-daily-tablet .thumbnail-container img, .once-daily-tablet .thumbnail-container img.sink-tablet-image{width:100% !important;}
.once-daily-tablet .tablet-right-col h3.mg4-title{padding-top: 100px !important;font-size: 46px;}
.tablet-margin-bottom{margin-bottom: 100px !important;}
.once-daily-tablet .mg2-desc-list{line-height: 36px !important;font-size: 24px !important;line-height: 30px;}
.once-daily-tablet .actual-size{font-size: 22px !important;top:24px !important;}
}

/*** MODULE 02 ENDS ***/

/*** MODULE 03 STARTS ***/

/** OLUSD-115 - Reference font size specs **/
#references ul.references-list li + li{ margin-top: 0;}

#references ul.references-list li{
	padding-left: 10px;
    font-size: 18px;
    line-height: 48px;
    margin-top: 0;
}


/** Intro slide header font size specs **/
.intro .chart-container .chart-header .title{
	font: 36px/1 "Apex New Light";
	line-height: 44px;
    margin-top: 30px;
}


/** OLUSD-130 - Next and prev button styles **/
/*#slider .slide-container .right-side .arrow-buttons-container .btn{
    min-width: 205px;
    padding: 8px 18px;
	font-size: 14px;
    letter-spacing: 3px;
}
*/
/*.btn.btn-previous:after, .btn.btn-next:after{
	width: 32px;
    height: 20px;
	/*top: 14px;*/
/*}*/

/*.btn.btn-next:after{ right: 10px;}
.btn.btn-previous:after { left: 10px;}
*/
/*.btn .btn-transparent .btn-previous{
	top:14px;
}*/

/** Global button styles **/
.btn.btn-blue{
	font-size:14px;
	line-height: 28px;
	padding: 10px 18px;
	top:14px;
}
.btn.btn-blue:after{
	right:0px !important;
	top:14px;
}

/** OLUSD-151 - Cookie button styles **/
#cookie .wrp-close-btn .btn{
	border: 1px solid #fff;
    color: #fff;
	width: 205px;
    font-size: 14px;
    line-height: 36px;
    letter-spacing: 3px;
    padding: 6px 18px;
}

#home ul.home-nav li .bottom-icon img{
	max-height: 40px;
	max-width: 41px;
}

#home ul.home-nav li .bottom-icon{
	max-height: 40px;
	margin-bottom: 20px;
	height: 40px;
}

#home ul.home-nav li .nav-text{
	font-size: 16px;
	line-height: 26px;
}
#home ul.home-nav li.active{
	position: relative;
}

#home ul.home-nav li.active .info{
	position: absolute;
    top: 0%;
    left: 0;
    padding: 70px 35px 35px;
    right: 0;
}

#home ul.home-nav li .info h3{
	font-size: 30px;
	line-height: 36px;
}

#home ul.home-nav li.active .info .info-icon-container{ margin-bottom: 50px;}


/** OLUSD-130 - Next and prev button styles **/
.arrow-buttons-container a.btn.btn-orange.btn-next, .arrow-buttons-container a.btn.btn-previous{
    min-width: 205px !important;
    padding: 8px 18px;
                font-size: 14px;
    letter-spacing: 3px;
}

.arrow-buttons-container a.btn.btn-orange.btn-next:after, .arrow-buttons-container a.btn.btn-previous:after
{              
    top: 15px;
}

.arrow-buttons-container a.btn.btn-orange.btn-next:after{ right: 10px;}
.arrow-buttons-container a.btn.btn-previous:after { left: 10px;}

.arrow-buttons-container.intro-navigation a.btn.btn-orange.btn-next,
.arrow-buttons-container.intro-navigation a.btn.btn-previous{
    min-width: 164px;
                padding: 0 18px;
    font: 10px/32px "Apex New Bold";
                letter-spacing: 0px;
}

.arrow-buttons-container.intro-navigation a.btn.btn-orange.btn-next:after, .arrow-buttons-container.intro-navigation a.btn.btn-previous
{              
    top: 8px;
}

.arrow-buttons-container.intro-navigation a.btn.btn-orange.btn-next:after{ right: 5px;}
.arrow-buttons-container.intro-navigation a.btn.btn-previous:after { left: 5px;}



/*** MODULE 03 ENDS ***/




/*** MODULE 04 STARTS ***/

/*106*/
.chart-container .chart-content-container .intro{
   
    background:url("../img/introbg.jpg")no-repeat;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/*135*/
.fixed-box .fix-box-inner .title{
	font-size: 36px;
	margin-bottom: 50px;
}

/*137*/
#login .wrp-remember{
	font-size: 18px;
	line-height: 30px;
}
.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"]{
	margin-top: 8px;
}
#login .forgot-pass{
	font-size: 18px;
	line-height: 30px;
}
#login .register{
	margin-top: 35px;
	font-size: 18px;
	line-height: 30px;
}

/*124*/
#footer .footer-container {
    padding: 5px 26px;
}
#footer .footer-logo{
	font-size: 14px;
	line-height: 30px;
	font-family: "Apex New Book";
}
#footer .footer-nav-ul{
	font-size: 14px;
	line-height: 30px;
	font-family: "Apex New Book";
}

/*127*/
.treatment-paradigm .chart-description{
	font-size: 18px;
	line-height: 30px;
}

/*119*/
#index .quick-start {
    width: 805px;
}

#index .quick-start .btn{
	width: 340px;
    height: 50px;
    padding: 10px 0;
    font-size: 14px;
    letter-spacing: 3px;
}
#index .quick-start .btn img.arrow-right-3 {
    width: 13px;
    height: 21px;
}
#index .quick-start .btn img.arrow-right-1 {
    width: 13px;
    height: 21px;
}

/*117*/
#index h1{
	font-size: 96px;
}
/*119*/
#index .quick-start{
	width: 800px;
}

/*116*/
#index p{
	font-size: 36px;
}

@media all and (min-width:1600px){

	#header .header-navbar > li > a, #header .header-navbar > li .logout{padding: 0 15px;}
	#header .header-navbar >.toggle-sidebar-nav a { padding-right: 40px;}


	/** OLUSD-132 - Intro slide body font size specs **/
	.intro .chart-content p{
		font: 24px/1 "Apex New Book";    
		margin-bottom: 25px;
		line-height: 28px;
	}
	
	/** OLUSD-153 - Spacing CSS **/
	.chart-container .chart-header .full-screen-btn{
		right: 40px;
	}
	
	.chart-container .chart-header, .chart-content, .chart-container .chart-header{
		padding: 0 40px;
	}
	
	#slider .slide-container .left-side, #slider .slide-container .right-side { padding: 40px;}
	
	#video{
		top: 40px;
		left: 40px;
		right: 40px;
		bottom: 40px;
	}
	
	/** OLUSD-150 **/
	#cookie .cookie-desc{
		width: 700px;
		font-size: 18px;
		line-height: 30px;
		margin: 0 auto 20px;
	}
	
	#home ul.home-nav li .bottom-icon img{
		max-height: 60px;
    	max-width: 61px;
	}
	
	#home ul.home-nav li .bottom-icon{
		max-height: 60px;
		margin-bottom: 30px;
		height: 60px;
	}
	/*#home ul.home-nav li .bottom-icon*/
	#home ul.home-nav li .nav-text{
		font-size: 18px;
		line-height: 28px;
	}
	
	#home ul.home-nav li.active .info img{
		max-height: 143px;
	    max-width: 110px;
	}
	
	#home ul.home-nav li .visit .visit-link{
		font: 24px/30px "Apex New Bold";
	    display: inline-block;
	}
	
	#home ul.home-nav li .visit { margin-top: 30px;}
	
	#home ul.home-nav li .visit .visit-icon{
		position: relative;
		top: -10px;
		display: inline-block;
		width: 54px;
		height: 54px;
		border-radius: 50%;
		border: 2px solid #f36c00;
		margin-right: 15px;
	}
	
	/** OLUSD-136 **/
	#login .input-group-addon{
		width: 50px;
		padding: 6px 15px;
		vertical-align: middle;
	}
	
	#login input[type="email"], #login input[type="password"]{
		min-height: 50px;
		font-size: 18px;
	}
	
	#login h3 { margin-bottom: 40px;}
	
	#login .input-group {
		margin: 0 0 40px;
	}
	
	.input-group + .input-group, #login .wrp-remember, #login .forgot-pass {
		margin-top: 0;
	}
	
	#login .wrp-buttons{
		margin: 40px 0;
	}
	
	/** OLUSD-152 **/
	.patient-profile .circle-big > div, .patient-profile .circle > div{
		font: 18px/30px "Apex New Book";
	}


	/*** MODULE 04 ***/
	/*125*/
	.chart-container .chart-header .title{
		font-size: 36px;
		line-height: 44px;
	}

	/*126*/
	.chart-container .chart-header .description{
		font-size: 18px;
		line-height: 30px;
	}	
	.patient-profile .circle.circle-0{
		top: 30px;
	}
	.patient-profile .circle > div{
		font-size: 16px;
		line-height: 26px;
	}
	.patient-profile .circle.circle-1{
		top:30px;
	}
	.patient-profile .circle-big > div{
		font-size: 18px;
		line-height: 30px;
	}
	/*128*/
	.btn.btn-blue{
		padding: 8px 36px 8px 18px;
	    font-size: 14px;
	    letter-spacing: 3px;
	}
	.btn.btn-blue:after{
		top:14px;
	}
	/*129*/
	#video .video-script-container .video-script-title{
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 25px;
	}

	#video .video-script p{
		font-size: 18px;
		line-height: 30px;
		margin-bottom: 45px;
	}
	.chart-container .chart-header .title{
		padding-right: 45px;
	}

}


/*** MODULE 04 ENDS ***/


@media all and (max-width: 1024px){
	/** OLUSD-179 - Intro tour popup CSS **/
	.intro-slider .intro-chart .intro-content{
		left: 50%;
		bottom: auto;
		transform: translate(-50%,0);
		-webkit-transform: translate(-50%,0);
		-moz-transform: translate(-50%,0);
		-o-transform: translate(-50%,0);
		box-shadow: 0 0 10px 3px rgba(0,0,0,0.6);
		-webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,0.6);
		-moz-box-shadow: 0 0 10px 3px rgba(0,0,0,0.6);
		-o-box-shadow: 0 0 10px 3px rgba(0,0,0,0.6);
		top: -30px;
		z-index: 9;
	}
	
	.intro .chart-content p{
		font: 18px/1 "Apex New Book";
		line-height: 22px;
		margin-bottom: 20px;
	}
	
	.intro-slider .intro-chart .intro-content:before{ display: none}
	
	#home ul.home-nav li .bottom-icon img{
		max-height: 30px;
		max-width: 31px;
	}
	
	#home ul.home-nav li .bottom-icon{
		max-height: 30px;
		margin-bottom: 10px;
		height: 30px;
	}
	
	#home ul.home-nav li .nav-text{
		font-size: 14px;
		line-height: 24px;
	}


	/*** module03 11/3/2017 ***/

	/** OLUSD-194 **/
	.benefit-risk-profile .benefits-list-item{
	    padding: 40px;
	}
	
	.benefit-risk-profile .chart-content{ bottom: 96px;}
	
	.benefit-risk-profile .btn-container { bottom: -65px;}
	
	.disease-activity { margin-top: 35px;}
	
	.disease-activity #keys > div{
		font-size: 14px;
		line-height: 36px;
		margin-bottom: 0px;
	}
	
	.disease-activity .placebo p, .adalimumab p{
		font-size: 14px;
		line-height: 26px;
		margin-bottom: 0;
	}	

}

/*** MODULE 04 ***/
@media all and (max-width:991px){
	/*119*/
	#index .quick-start{
		width: 700px;
	}	
	/*116*/
	#index h1 {
	    font-size: 60px;
	}
	#index p {
	    font-size: 24px;
	}
}

/*** MODULE 03 ***/
@media all and (max-width: 768px){
	.benefit-risk-profile .benefits-list-item{
	    padding: 15px;
	}
}


/** CSS hacks for IE **/
_:-ms-input-placeholder, :root #glossary .glossary-content{ 
	max-height: inherit;
}

_:-ms-input-placeholder, :root #glossary .words-list { 
	overflow-y: visible;
}

_:-ms-input-placeholder, :root #index .logo-container{ 
	position: relative;
	margin-top: 5%;
}

_:-ms-input-placeholder, :root .chart-expanded .exit-full-screen img{ 
	height: 20px;
	width: auto;
}

_:-ms-input-placeholder, :root .benefit-risk-profile .benefits-list{ 
	display: block;
}

_:-ms-input-placeholder, :root .benefit-risk-profile .benefits-list-item{ 
	width: 31%; 
	margin: 0 1%; 
	display: inline-block;
}

_:-ms-input-placeholder, :root .summary .summary-list{ 
	display: block;
}

_:-ms-input-placeholder, :root .summary .summary-list-item{ 
	width: 31%;
	float: left;
	min-height: 140px;
}

_:-ms-input-placeholder, :root #video .video-container{ 
	display: block;
	bottom: auto;
}


/** Safari Hacks **/
@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 1024px) {
     ::i-block-chrome, #slider .slide-container .right-side .arrow-buttons-container .btn{
        min-width: 110px;
    }
	
	::i-block-chrome, .buttons-progress-container{
		width: 80%;
	}
	
	::i-block-chrome, #video .video-thumbnail{
		min-height: 270px;
	}
	
	::i-block-chrome, .chart-container:after{
		padding-top: calc(100vh - 105px);
	}	
}

@media only screen and (-webkit-min-device-pixel-ratio: 1) and (max-width: 768px) {
	::i-block-chrome, .buttons-progress-container{
		width: 70%;
	}
}


@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
	/* your css rules for ipad portrait */
	_::-webkit-full-page-media, _:future, :root .buttons-progress-container {
		width: 70%;
	} 
}

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
	/* your css rules for ipad landscape */
	_::-webkit-full-page-media, _:future, :root #slider .slide-container .right-side .arrow-buttons-container .btn {
		min-width: 110px; 
	} 
	
	_::-webkit-full-page-media, _:future, :root .buttons-progress-container {
		width: 80%; 
	}
	
	_::-webkit-full-page-media, _:future, :root #video .video-thumbnail {
		min-height: 270px;
	}
	
	_::-webkit-full-page-media, _:future, :root .chart-container:after {
		padding-top: calc(100vh - 105px);
	}
}

/** Firefox hacks **/
@-moz-document url-prefix() { 
  #home ul.home-nav {
     position: absolute;
	 bottom: 0;
  }
}

.chart-expanded .exit-full-screen{
	right: 0;
}

@media screen and (max-width: 1237px) and (min-width: 1201px) {
	.summary .chart-content{
	top:78px;
	padding: 0 26px;
	}
}
#video .video-script-container{
	background:none;
}
@media all and (min-width:1600px){
     #header .header-navbar > li > a, #header .header-navbar > li .logout{padding: 0 15px;}
	#header .header-navbar >.toggle-sidebar-nav a { padding-right: 40px;}
}
@media all and (min-width:1200px) and (max-width:1600px){
/*  .my-modal .my-modal-content {
    position: absolute;
    padding: 100px 200px;
}*/
}	

@media all and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
    .chart-container .chart-header .description {
	    font: 18px/36px "Apex New Book";
	    color: #425464;
	}
	.treatment-paradigm .chart-description {
	    font: 18px "Apex New Book";
	    line-height: 1.667;

	}
	.btn {
	    letter-spacing: 3px;
	  }
	  .benefit-risk-profile .benefits-list-item {
	    /* width: 33.3333%; */
	    width: 300px;
	    height: 435px;
	    padding:56px 40px 70px 37px;
	    position: relative;
	}
	.benefit-risk-profile .benefits-list-item p {
	    font-size: 20px;
	    line-height: 1.667;
	    margin-bottom: 0px;
	    margin-top: 40px;
	}
	.chart-container {
		background-image:none;
	}
	.chart-desciption-list{
	 font-size:14px;
	 line-height: 1.714; 
	 letter-spacing: 0.2px;
	}
	.chart-content ul{
		margin-top: 10px;
	    margin-bottom: 17px;
	}
	.chart-container .chart-header .title {
	    font: 24px "Apex New Light";
	    line-height: 1.25;
	    color: #f36c00;
	}
	#keys {
	    max-width: 285px;
	    display: inline-block;
	    position: absolute;
	    right: -225px;
	    top: 50px;
		font-size:15px;
		letter-spacing:0.5px;
	}
	#keys .placebo p{
	    font-size:15px; 	
	}
	#keys .adalimumab p{
	    font-size:15px;
	}
	#keys > div {
	    margin-bottom: 15px;
	}
	.chart-container .chart-header .full-screen-btn {
	    position: absolute;
	    cursor: pointer;
	}
	.chart-container .chart-header .full-screen-btn img {
	    width: 20px;
	    height: 20px;
	}
}
.video-script-container{
	font-size: 18px;
    line-height: 30px;
}
.video-script-containe:last-child{
	margin-bottom: 0;
}
#video .video-script-container{
	height:645px; /*height set*/
	overflow-y:auto;
}


/*video overlay*/
#video .video-cover-container {
    position: absolute;
    width: 100%;
    height: 97%;
    background: rgba(243, 108, 0, 0.7);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
_:-ms-input-placeholder, :root .chart-expanded .exit-full-screen{
	right:-10px;
}
#video .video-cover-container {
    position: absolute;
    width: 100%;
    height: 97%;
    background: rgba(243, 108, 0, 0.7);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
}

.intro-content a.btn.btn-previous{min-width: 100px !important;top:0px !important;}
.intro-content a.btn.btn-previous:after{top: 7px !important;}
.intro-slider .intro-navigation .intro-content a.btn.btn-next{min-width: 100px !important;}

/*ipad landscape issue fix starts*/
@media all and (max-width: 1024px){
#footer .footer-nav{display:block;}
.arrow-buttons-container a.btn.btn-orange.btn-next, .arrow-buttons-container a.btn.btn-previous{min-width: 198px !important;}
.buttons-progress-container{padding: 0 65px;margin-left:20px;}
.arrow-buttons-container a.btn.btn-orange.btn-next{position: relative;right:40px;}
/*box btns fix*/
.summary .summary-list-item .btn-container .btn{padding-top: 5px;padding-bottom: 5px;}
.summary .chart-content{bottom: 8px;}
}

/*ipad portrait issue fix starts*/
@media all and (max-width: 768px){
#footer .footer-nav{display:block;float:left !important;padding-left: 50px;}
.arrow-buttons-container a.btn.btn-orange.btn-next, .arrow-buttons-container a.btn.btn-previous{min-width: 198px !important;}
.buttons-progress-container{padding: 0 60px;padding-left:30px;margin-left:40px;}
.arrow-buttons-container a.btn.btn-orange.btn-next{position: relative;right:30px;}
.arrow-buttons-container a.btn.btn-orange.btn-next, .arrow-buttons-container a.btn.btn-previous{min-width: 158px !important;}
.summary .chart-content{bottom: 60px;}
.summary .summary-list-item{margin-bottom: 37px;}
ul.summary-list li.summary-list-item:nth-child(1) .btn-container{margin-top:39px;}
ul.summary-list li.summary-list-item:nth-child(3) .btn-container{margin-top:39px;}
ul.summary-list li.summary-list-item:nth-child(5) .btn-container{margin-top:69px;}
}
/*ipad portrait issue fix ends*/

/*tablet page table issues*/
@media screen and (min-width: 1600px){
.once-daily-tablet .mg4-title {font-size: 36px;}
.once-daily-tablet .mg2-desc-list {font-size: 18px;}
.once-daily-tablet .mg2-desc-list li:nth-child(1) {margin-bottom:36px;}
.once-daily-tablet .mg2-desc-list {line-height: 23px;}
.once-daily-tablet .actual-size {font-size: 14px;}
.once-daily-tablet table tr:nth-child(3),.once-daily-tablet table tr:nth-child(4){vertical-align: top;}
.once-daily-tablet .actual-size{position:relative;top:-30px;}
@-moz-document url-prefix() {
   .once-daily-tablet .actual-size{position:relative;top:-50px;}

}

}
/*guided tour 9 fix*/
#video .intro-challenge .video-player{
	z-index: 11;
}
 #video .intro-challenge {
	z-index: 11;
}

/*** guided tour 2 fix ***/
#video .video-container .intro-video-script .video-script.text-orange{
    overflow-y:auto !important;
    height: 420px;
}
.video-script-container.intro-video-script{
    background-color: #ffffff !important;
}
#contact-us .contacts-us-title{
	background:url("../img/mail-icon.png")no-repeat;
	background-position: 0px 0px;
	background-size: 48px 39px;
}
#contact-us .contacts-us-title img{
	display: none;
}
#contact-us .contact-container{
	font-family: Apex New Book;
	font-size: 18px;
}

/*57 contact us*/

#contact-us{
	padding-top: 78px;
}
#contact-us .contact-container{
	  margin-bottom: 40px;
}
#contact-us .contacts-us-title{
     background: url(../img/mail-icon.png)no-repeat; 
    background-position: 0px 0px;
    background-size: 48px 39px;
    width: 400px;
    padding-left: 83px;
    height: 39px;
    margin-bottom: 113px !important;
    line-height: 39px;

}
#contact-us .contacts-us-title img{
	display: none;
}

#contact-us .contact-container{
	font-family: Apex New Book;
	font-size: 18px;
}

/*references*/
#references{
	z-index: 100;
}

@media all and (max-width: 1024px){
/*#sidebarNavigation nav ul.sidebar-nav li:nth-child(12){display: none}
.mechanism-of-action .chart-content .chart-image .hotspot{display: none}
.rapid-and-sustained .chart-content .chart-image .hotspot{display: none}  */
.hotspot.active .hotspot-circle{-webkit-box-shadow: 0 0 0 950px rgba(0, 0, 0, 0.7);}
.arrow-buttons-container a.btn.btn-orange.btn-next{right:0px;}
.buttons-progress-container {
    padding: 0 26px;
    margin-left: 0px;
}

.arrow-buttons-container a.btn.btn-orange.btn-next:after, .arrow-buttons-container a.btn.btn-previous:after{
	top:14px;
}

}

@media only screen  and (min-device-width: 768px)  and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {


.arrow-buttons-container a.btn.btn-previous:after{
	left:0px;
}

}
/*blue button arrow pos*/
.treatment-paradigm .btn-blue:after{
	right:-5px !important;
}
#index .quick-start .btn img.arrow-right-3 {
    width: 39px;
    height: 21px;
}
#index .quick-start .btn img.arrow-right-1 {
    width: 13px;
    height: 21px;
}

/*235*/
#content {
    min-height: calc(100vh - 60px - 40px) !important;
}
/*set height*/
.contentHeight{
	height: calc(100vh - 60px - 40px) !important;
}
/*.indexComponent{
	overflow: hidden;
}*/

.qback-btn{
	width: 16px;
	height: 16px;
	width: 16px;
	height: 16px;
	margin-bottom: 20px;
}

/*moa*/
.moa-image-blk{
	display: inline-block;
	vertical-align: middle;
}
.moa-image-blk img{
	width: 497px;
    height: auto;
    max-width: 100%;
}
.moa-info{
	background-color: #e9f8fb;
    color: #455564;
    padding: 5px;
    font-family: 'Apex New Medium';
    font-size: 21px;
    line-height: 29px;
    position: absolute;
    top: 55px;
    right: 42px;
    padding: 25px;
    border-radius: 5px;
    width: 320px;
}
.moa-addbtn2 img{
	width: 115.5px;
	height: 33.5px;

}
.moahide{
	display: none;
}
.moa-addbtn img{
	width: 115.5px;
	height: 33.35px;
}
.moa-addbtn2 img{
	width: 115.5px;
	height: 33.35px;
}
.moa1{
	height: 526px;
}

/*h2h*/

.h2himg{
	width: 666.5px !important;
	height: 433.5px;
}


.chart-bars-container.head-to-head-bars .main_graph{
	/*background: url(../img/charts/head-to-head/main_graph.png);
    background-size: 484px 295.5px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    max-height: 69%; 
    height: 0;
    left: 11.5%;
    width: 100%;
    bottom: -1.15%;
*/
    background: url(../img/charts/head-to-head/main_graph.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    max-height: 68%;
    height: 0;
    left: 7.6%;
    width: 48%;

}
.chart-bars-container.head-to-head-bars .bar.one1{
	left:10%;
    /*height: 162.5px;*/
    background-image: url(../img/charts/head-to-head/one1.png);
    left: 1%;
    /*background-size: 18px 162.5px;*/
    max-height: 37%;
}
.chart-bars-container.head-to-head-bars .bar.one2{
	 /*background-size: 18px 256.5px;*/
	 max-height: 59%;
	 left:5.4%;
}
.chart-bars-container.head-to-head-bars .bar.one3{
	/*background-size: 18px 300px;*/
	 max-height: 69%;
	 left:3.2%;
}

.chart-bars-container .head-to-head-bars {
  bottom: 13%;
    left: 11.3%;
    right: 0;
    width: 100%;
    height: 100%;
}
.chart-bars-container.head-to-head-bars{
	bottom: 13%;
    left: 12%;
    right: 0;
    width: 100%;
    height: 100%;
}

.chart-bars-container.head-to-head-bars .bar.two1{
	left: 32.5%;
}
.chart-bars-container.head-to-head-bars .bar.two2{
	left: 38.7%;
	
}
.chart-bars-container.head-to-head-bars .bar.two3{
	left: 35.5%;
}
.chart-bars-container.head-to-head-bars .bar.three1{
	left: 64%;
	max-height: 68%;
}
.chart-bars-container.head-to-head-bars .bar.three2{
	left:67.25%;
	max-height: 58%;

}
.chart-bars-container.head-to-head-bars .graphHeadings{
	width: 497px;
	height: 281px;
	left:24px;
	top:21%;
}

.chart-bars-container.head-to-head-bars .firstHeading{
	width: 52.5px;
	height: 69.5px;
	top: 24%;
    left: 3%;
}

.chart-bars-container.head-to-head-bars .secondHeading{
	width: 53px;
    height: 60px;
    left: 34.5%;
    top: 19.5%;

}
.chart-bars-container.head-to-head-bars .thirdHeading{
	width: 52px;
	height: 68px;
	left: 63%;
    top: 25%;

}

.intro-slider .intro-navigation .intro-content-alt:after {
    content: " ";
    position: absolute;
    top: 153px;
    margin-top: -3px;
    left: 45px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #ffffff;
    border-bottom:none;
}

.intro-slider .intro-navigation .intro-content-alt {
    display: block;
    width: 400px;
    bottom: 75px;
    left: 62px;
}

.physician-global-assessment .graph-line.graph-physician .graph-img, .physician-global-assessment .graph-line.graph-physician .cover{display:none;}
.patient-global-assessment .graph-line.graph-patient .graph-img, .patient-global-assessment .graph-line.graph-patient .cover{display:none;}
.pain .graph-line.pain img.graph-pain, .pain .graph-line.pain div.cover{display: none;}
.function .graph-line.function .funtion1-remove, .function .graph-line.function div.cover{display:none;}
.fatigue .graph-line.fatigue .fatigue-remove, .fatigue .graph-line.fatigue div.cover{display:none;}

.graph-block{bottom:0%;width: 25%;height: 100%;}
.graph-block.second-block{left: 25%;}
.graph-block.third-block{left: 50%;}
.graph-block.fourth-block{left: 75%;}


/*tablet page style starts*/

.tablet-container-wrapper {
    background-color: transparent;
}

.once-daily-tablet .tablet-container-wrapper {
    height: 100%;
    width: 100%;
    background: #ffffff;
}
.tablet-container-wrapper h1{margin-top:0px;padding-top:0px;padding-bottom: 5.5%}
.tablet-left-col{float: left;vertical-align: top;width: 23%;}
.tablet-right-col{float: left;vertical-align: middle;width:68%;padding-right: 20px;}
.chart-container .chart-header.tablet-chart-header{padding-left:24px;}
.chart-container .chart-header.tablet-chart-header h1{padding-bottom:15px;}

.tablet-clear-fix{clear:both;}
.once-daily-tablet .thumbnail-container img.sink-tablet-image{width:148px;}
.daily-tablet-container{padding-right:42px;}
.tablet-margin-bottom{margin-bottom:20px;}
.once-daily-tablet .tablet-right-col h3.mg4-title{padding-top: 17px; }
@media screen and (min-width: 1200px){
.once-daily-tablet .tablet-container-wrapper {width: 60%;}
.tablet-left-col{width: 27%;margin-right:10px;}
.daily-tablet-container{padding:44px 0px 44px 0px;}
}
@media screen and (min-width: 1200px) and (max-width: 1222px){
.once-daily-tablet .mg2-desc-list li:nth-child(1){margin-bottom: 3px;}

}

@media screen and (min-width: 1200px) and (max-width: 1399px){
.once-daily-tablet .tablet-container-wrapper{width:65%;}
.once-daily-tablet .thumbnail-container img{width:133px;}
.once-daily-tablet .thumbnail-container img.sink-tablet-image{width: 128px;}
.chart-container .chart-header.tablet-chart-header h1{padding-bottom: 0px;}
.tablet-right-col{padding-right: 0px;}
.once-daily-tablet .mg2-desc-list li:nth-child(1){margin-bottom: 7px;}
.daily-tablet-container{padding-top:20px;padding-bottom: 0px;}
}
@media screen and (min-width: 1200px) and (max-width: 1222px){
.once-daily-tablet .mg2-desc-list li:nth-child(1){margin-bottom: 3px;}
.once-daily-tablet .mg2-desc-list{font-size:11px;}
}

@media screen and (min-width: 1400px) and (max-width: 1599px){

	.once-daily-tablet .mg2-desc-list li:nth-child(1){margin-bottom: 15px;}
	.once-daily-tablet .mg2-desc-list{font-size: 16px;}
	.once-daily-tablet .actual-size{font-size: 12px;}
	.tablet-right-col{padding-right: 0px;}
	.tablet-left-col{margin-right:20px;}
	.chart-container .chart-header.tablet-chart-header h1{padding-bottom: 0px;}
}

@media screen and (min-width: 1600px){
.once-daily-tablet .actual-size {
    position: relative;
    top: 4px;
}
.daily-tablet-container{padding:44px 0px 44px 20px;}
.tablet-left-col{width: 27%;margin-right:24px;}
}


@media screen and (min-width: 1200px) and (max-width: 1200px){
.once-daily-tablet .mg2-desc-list{font-size: 18px;}
.once-daily-tablet .actual-size{font-size: 14px;}
.once-daily-tablet .mg2-desc-list li:nth-child(1){margin-bottom: 18px;}
.tablet-margin-bottom {
    margin-bottom: 60px;
}
.once-daily-tablet .tablet-right-col h3.mg4-title{padding-top: 45px;}
.once-daily-tablet .thumbnail-container img{width:163px;}
.once-daily-tablet .thumbnail-container img.sink-tablet-image{width:148px;}
.daily-tablet-container{padding:60px 44px 44px 24px;}

}

@media screen and (max-width: 1024px){
.daily-tablet-container{padding-top:24px;padding-left:20px;}
.once-daily-tablet .mg2-desc-list li:nth-child(1){margin-bottom: 30px;}
.once-daily-tablet .actual-size{position: relative;top:17px;}
.tablet-margin-bottom {
    margin-bottom: 30px;
}
}





/*tablet page style ends*/


/*rapind and sustained*/
.acr50axis{
	width: 585px !important;
	height: 333.5px;
}
.acr50graph{
	width: 512px !important;
	height: 270px;
}
.graph-line.graph-acr50 {
    left: 65px; /*7%;*/
	top: 9.2%;
    bottom: 11%;
    right: 42.5%;
    width: 512px !important;
}
.graph-line.graph-acr50 .bar {
    left: 14.5%;
    bottom:3px;
}
.acr20axis{
   width: 585px !important;
    height: 333.5px;
}
.acr20graph{
	width: 585px !important;
    height: 310px;
}
.graph-line.graph-acr20 {
 left: 3px;
    top: 8%;
    bottom: 12%;
    right: 49%;
    width: 585px !important;
}
.acr70axis{
	width: 585px !important;
    height: 333.5px;
}
.acr70graph{
	width: 585px !important;
    height: 334px;
}
.graph-line.graph-acr70 {
	width: 585px !important;
    left: -0.1%;
    top: 0%;
    bottom: 12.6%;
    right: 49%;
}
.graph-line.graph-acr70 .bar {
    width: 3%;
    height: 87%;
    position: absolute;
    left: 22.9%;
    background: #eef0f1;
    bottom: -2px;
    z-index: 2;
    display: none;
}
@media screen and (max-width: 1500px) and (min-width: 1201px) {
	.acr20axis{
		width: 40% !important;
    	height: 100%;
	}
	.acr20graph {
	    width: auto !important;
	    height: 100%;
	}
	.graph-line.graph-acr20{
		bottom:0;
	}
	.graph-line.graph-acr50 .bar {
	    left: 14.5%;
	    bottom: 41px;
	}
	.graph-line.graph-acr50 {
	    left: 65px;
	    top: 30px;
	    bottom: 0;
	    right: 42.5%;
	    width: 512px !important;
	}

}
@media screen and (max-width: 1024px) {
	.rapid-and-sustained .action-btns-container, .rapid-and-sustained .acr-btns-container{
		margin-top: 0px;
	}
	.moa-image-blk img{
		width: 50%;
	}
	
}
.graph-line.graph-acr50 .cover{
	left: 7px;
    right: 0;
    top: 0px;
    bottom: 4px;
    /*background: red;*/
    z-index: 9999;
}
.graph-line.graph-acr70 .cover{
    left: 73px;
    right: 0;
    top: 30px;
    bottom: -2px;
    /*background: yellow;*/
    z-index: 9999
}
/*** CSS ENDS ***/

/** Tablet landscape specific styles **/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
            /** Header styles **/
            #header { padding-left: 20px;}
            #header .header-navbar > li > a, #header .header-navbar > li .logout{
                        font-size: 14px;
                        color: #425464;
                        letter-spacing: 3px;
            }
            
            #header .header-navbar > li .logout{ padding-right: 20px;}
            
            #header .header-navbar > li > a .user-name{
                        text-transform: capitalize;
                letter-spacing: 1px;
            }
            
            /** Main body styles **/
            #slider .slide-container .right-side { padding: 0 20px;}
            
            /** Footer styles **/
            #footer .footer-container {padding: 5px 20px;}
            #footer .footer-nav-ul li a, #footer .footer-logo{ font-size: 12px;}
            
            /** Home slide styles **/
            #index { margin-top: 50px;}
            #index p{ font: 24px/30px "Apex New Book";}
            
            #index .dmard br { display: none;}
            
            #index .dmard { padding: 0 10%;}
            
            #index h1{
                        font: 60px/52px "Apex New Light";
                        margin: 18px 0;
            }
            
            #index .choose-experience { margin-top: 36px;}
            #index .quick-start { margin-top: 30px;}
            
            /** Intro slide styles **/
            .chart-container .chart-content-container .intro{
                        background: url(../img/introbg1.jpg) no-repeat;
                        background-size: 100% 100%;
            }
            
            .chart-container .intro .chart-header .title{ font: 24px "Apex New Book";}
            .intro .chart-content p { margin-bottom: 25px;}
            
            /** Patient Profile styles **/
            .patient-profile .chart-header .description{font: 18px/30px "Apex New Book";}
            
            .patient-profile .circle > div { font: 16px/24px "Apex New Book";}
            .patient-profile .circle.circle-0 > div {
                        padding: 13px 24px;                  
            }
            
            .patient-profile .circle.circle-1 > div {
                        padding: 13px 34px;
                        top: 8px;
            }
            
            .patient-profile .circle.circle-2 > div {
                        padding: 13px 35px;
            }
            
            .patient-profile .circle.circle-3 > div {
                        padding: 13px 30px;
            }
            
            .patient-profile .circle-big > div{
                        font: 16px/24px "Apex New Book";
                        padding: 26px 35px;
                        top: 10px;
            }
            
            /** Head to head styles begins here **/
            .chart-container .chart-header .title{
                        font: 24px/30px "Apex New Book";
            }
            
            /*.head-to-head .chart-description { margin-top: 5px;}
            .head-to-head .btn-container {    margin-top: 0;}*/
            .chart-content .btn-container .btn.btn-blue, .action-btns-container .btn.btn-blue,
            .explore-btn-container .btn.btn-blue, .treatment-paradigm .btn.btn-blue{              
                        padding: 10px 45px 10px 35px;                              
            }
            
            .head-to-head .chart-content .btn-container .btn.btn-blue{ top: 0; }
            
            .chart-content .btn-container .btn.btn-blue:after, .action-btns-container .btn.btn-blue:after,
            .explore-btn-container .btn.btn-blue:after, .treatment-paradigm .btn.btn-blue:after{
                        right: 10px !important;
                top: 16px;
            }
            
            /** Zoom btn styles - global **/
            .chart-container .chart-header .full-screen-btn { right: 20px;}
            
            .joint-damage-protection .explore-btn-container{ margin-top: 0px;}
            
            /** Treatment Paradigm **/
            .treatment-paradigm, .treatment-paradigm .chart-description{ margin-top: 20px;}
            
            /** Adverse Events **/
            .chart-desciption-list{
                        padding-left: 0;
                        font-size: 14px;
                line-height: 24px;
            }
            
            .chart-desciption-list li{ list-style-type: none;}
            .chart-desciption-list li sup { font-size: 65%;}
}


/*disease activity*/
.diseaseImg{
	width: 605px;
	height: 393px;
<<<<<<< .mine
}

/*h2h*/
/*.head-to-head .chart-content #keys{
	right: -200px;
}*/
.head-to-head .chart-description {
    margin: 0;
}
.head-to-head .chart-description {
    margin: 0;
}
.head-to-head .btn-container {
    margin-top: 0;
    text-align: center;
}


.h2himg {
    width: 65.9% !important;
    height: auto;
}

.chart-bars-container.head-to-head-bars {
    bottom: 13%;
    left: 8%;
    right: 0;
    /*width: auto;*/
    height: 100%;
}
.chart-bars-container.head-to-head-bars .bar.one1{
	background-size: none !important;
    width: 2.10%;
    left: 0.7%;
}
.chart-bars-container.head-to-head-bars .bar.one2{
	background-size: none !important;
	width: 2.1%;
	left: 5.2%;
}
.chart-bars-container.head-to-head-bars .bar.one3{
	background-size: none !important;
    width: 2.10%;
    left: 3%;
}
.chart-bars-container.head-to-head-bars .bar.two1{
	width: 2%;
	left: 21.5%;
	max-height:35%;
}
.chart-bars-container.head-to-head-bars .bar.two2{
	left: 25.85%;
	width: 2%;
	max-height: 63%;
}
.chart-bars-container.head-to-head-bars .bar.two3{
	left: 23.5%;
	width: 2.3%;
}
.chart-bars-container.head-to-head-bars .bar.three1{
	left: 42%;
	width: 2.11%;
}
.chart-bars-container.head-to-head-bars .bar.three2{
	width: 2%;
	left: 44.25%;
}
.chart-bars-container.head-to-head-bars .main_graph{
	/*background-size: contain;*/
	/*left: 7.85%;
    bottom: -0.15%;*/

	/*width: 484px;*/
   
}

.chart-bars-container.head-to-head-bars .graphHeadings{
/*	width:48%;
	height: auto;
    left: 2.5%;
    top: 20%;*/
    width: 49%;
    height: auto;
    left: 2.5%;
    top: 20%;
}
.chart-bars-container.head-to-head-bars .firstHeading {
    height: 69.5px;
    top: 22%;
    left: 2.3%;
}
.chart-bars-container.head-to-head-bars .secondHeading{
	width:auto;
	height: 60px;
    left: 22.9%;
    top: 19.5%;
}
.chart-bars-container.head-to-head-bars .thirdHeading{
	width:auto;
	height: 68px;
    left: 41.2%;
    top: 23.5%;
}



/*MEDIA QUEIRES*/
@media screen and (max-width: 1500px) and (min-width: 1201px) {
	.moa1{
		width: 60%;
		height:auto;
	}
	.moa-image-blk img{
		width: auto;
	    height: auto;
	    max-width: 100%;
	}
	.moa2{
		width: 50%;
	}
	 .moa-info{
	    font-size: 16px;
	    line-height: 20px;
	    position: absolute;
	    top: 1%;
	    right: 12px;
	    padding: 25px;
	    border-radius: 5px;
	    width: 40%;

	}
	.moa .moa-addbtn{
		margin-top: 10px;
	}
	.diseaseImg {
	    width: 65%;
	    height: auto !important;
	}
	#keys {
	    max-width: 40%;	   
	    right: -45px;	    
	}
	/*h2h*/
	/*.head-to-head .chart-content #keys {
	    right: -23%;
	}*/
	
}
@media (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: landscape){
	#keys {
	    
	    right: -225px;
	    
	}
}

/*janrain style and tablet fixes starts*/
#contact-us{
	padding-top: 65px;
}
@media screen and (min-width: 1200px){
#slider .slide-container .right-side .arrow-buttons-container {
    padding: 40px 0 0;
}
}

@media (max-device-width: 1024px) and (min-device-width: 768px) {
  .keyClass{ /***class needs to be passed by manisha ***/
    top: 18px;
  }

  #register-panel { /**need to change the top from 110% to 125% in custom-janrain.css **/
    top: 125%;
  }

  #video .quiz-start .start-challenge .btn {  /**need to change the width from 205px to 279px **/
    width: 279px !important;
  }
}

#contact-us .contacts-us-title {  /**need to change the margin-bottom:113px to margin-bottom:80px **/
  margin-bottom: 80px !important;
}

@media (max-device-width: 1230px) and (min-device-width: 1202px) {
  .joint-damage-protection .explore-btn-container{
    margin-top: -7px; /** need to change the margin-top from 13px to -7px **/
  }
}

@media (max-device-width: 768px) and (min-device-width: 684px) {
  #video .quiz-start .start-challenge .btn {  /**need to change the width from 205px to 279px **/
    width: 279px !important;
    letter-spacing: 3px !important;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
/* slide: proven and consistent efficacy across a range of moderate to serve RA */
   .brp-dialog .disc-container p {
    float: none; /* remove this css */
    width: auto; /* remove this css */
  }
  .efficacy-across-trials .chart-content {
    padding: 52px 26px;
  }
  /* ends here */

  .chart-content{ /* for all slides */
    padding: 0px 26px;
  }

  #keys, .placebo{
    font-size: 14px; /* for all slides */
  }

  /* slide: a favourable benefit/risk profile */
  .chart-content ul {
    margin-top: 0px;
  }
  /* ends here */

  /* slide: Reach beyond the satndard */
  .chart-container .chart-content-container .summary .chart-content .summary-list .summary-list-item .btn-container .btn{
    font: 14px/32px "Apex New Bold";
  }
  /* ends here */

  #video .quiz-start .start-challenge .btn {
    width: 280px;
  }
}
/*janrain style and tablet fixes ends*/

